### Store, Item, Customer

- 1. AbCustomer -> Customer가 이를 상속 받아야함.
- 2. Person <- Customer이 Person 상속 가능: Customer(Person)
- is-a과계를 대체적으로 구현했는데 has-a관계이어야 했다.

In [ ]:
# 이건 is-a관계
class Person:
    pass
class Customer(Person): # is-a관계
    pass

# 이게 has-a관계
class Store:
    def __init__(customer):
        self.customer = customer # Customer타입 # has-a관계
        self.item = item # item은 객체를 받음
        self.item_list = self.item.name, self.item.price # 여기서 딕셔너리 쓰지마
class Item:
    name
    cnt
    price
    
class Seller:
    pass

### 매직 메소드
- special method
- __str__, __repr__
- 이외 더

In [3]:
class Customer:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        # print() 함수로 나온 출력값을 변경하는 것
        return self.name
    
    def __repr__(self):
        # 설정 안 하면 __str__ 동일함
        # 인스턴스를 출력하는 방식 => 사용자가 이해하는 객체의 모습을 표현
        return f'Customer({self.name})'
    
c = Customer('kim')

In [4]:
c

Customer(kim)

In [5]:
print(c)

kim

In [6]:
repr(c)

'Customer(kim)'

In [9]:
str(c)

'kim'

### NamedTuple, DataClass
- 객체보다 효율적임 (간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리의 키처럼 사용 가능하다
- NameTuple은 python 3.7 이상에서만 가능

In [12]:
from collections import namedtuple

Customer = namedtuple('Customer', 'name age birth_year favorite_food')
a = Customer('lee', 21, 2002, 'kimchi')
a.name, a.age, a.birth_year, a.favorite_food

('lee', 21, 2002, 'kimchi')

In [15]:
from dataclasses import dataclass
# 3.7 이상에서만 가능

@dataclass
class Customer2:
    name: str
    school: str
    age: int
        
b = Customer2('hong', 'HUFS', 88)
b.name, b.age, b.school

('hong', 88, 'HUFS')

### 함수 2
- \*, \**
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

asterisk: \*
- 여러 개를 하나로 묶어주는 역할, 패킹

In [16]:
def print_arg(*args): # *은 여러개의 인자가 있을 때 패킹해준다(묶어준다)
    print(args)
    
print_arg(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [17]:
def print_arg(*args): # *은 여러개의 인자가 있을 때 패킹해준다(묶어준다)
    print(*args)
    
print_arg(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6

In [18]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args, 'optional')
    
print_more(1, 2)

1 2
optional

In [19]:
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [20]:
# 행렬, 테이블 데이터
matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]
# 1, 2, 3, 4, 5, 6 (열만 타고 싶다)
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [26]:
# zip 복습
for item in zip([1, 2], [3, 4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [22]:
# 키워드 전용 인수 선언 시 사용
def print_data(data, start, end):
    for item in data[start:end]:
        print(item)
        
print_data(empty, start=0, end=12) # empty = [1, 2, 3, 4, 5, 6, 7, 8, 9]까지라 10, 11 출력 X
#print_data(empty, 0, 1)

0
1
2
3
4
5
6
7
8
9

#### kargs: **

In [33]:
def print_kargs(**kargs): # 키: 값 => 딕셔너리로 반환
    print(kargs)
    #print(**kargs) 이거 안 됨, 언패킹 안 되서
print_kargs(wine='crianza', drink='water')

{'wine': 'crianza', 'drink': 'water'}

In [34]:
for wine in ['cabernet', 'crianza', 'shiraz']:
    print_kargs(wine=wine, drink='water')

{'wine': 'cabernet', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'shiraz', 'drink': 'water'}

In [27]:
def print_all(num1, num2, *args, **kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
print_all(3420790, 2, 683, 4, 324, a = 6, b = 4, c = 349539759)

3420790 2
1011
{'a': 6, 'b': 4, 'c': 349539759}

In [23]:
# 딕셔너리 조인
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
c = {**a, **b}