## Ch02. Variable
- string
- float
- integer
- booleen

In [1]:
#여러 이름 동시에 할당
two = deux = dos = 2 #dos -> deux -> two
two

2

In [2]:
# 불변객체이므로
two = 4
print(two, deux) #two에 deux가 할당되었던게 4로 대체되었지만 deux는 여전히 2인 것

4 2

In [3]:
id(two), id(deux)  #할때마다, 컴퓨터마다 변한다.

(2450071841168, 2450071841104)

In [4]:
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [5]:
id(p), id(q)  #id가 동일하게 나옴. 컴퓨터에 같은 위치

(2450151038656, 2450151038656)

In [6]:
p[0] = 9  #p = [1, 2, 3] --> p = [9, 2, 3], p를 q에 할당해서 q도 [9, 2, 3]로 바뀜 
p, q

([9, 2, 3], [9, 2, 3])

In [18]:
id(p), id(q)

(2450151038656, 2450151038656)

In [19]:
# 개인 실험
q[0] = 5
p, q  #  # q = [9, 2, 3] --> q[5, 2, 3] -->    ?????????????????????????????

([5, 2, 3], [5, 2, 3])

#### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함. a, b, c. ...
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
 - 예: the number of students n < the_number_of_students < num_students
 - 카멜표기법: numStudents

### 자료형 변환, 형 변환
- str(<변환할 값>), int(), float(), bool()

In [8]:
a = 10

# str
str(a)  #문자열로 변환

#float
float(a) #실수로 변환

#bool
bool(a) # 어떤 값이 False로 변환이 되는 지

True

주의할 점: float --> int

In [11]:
x = 10.7 #소수점 내림
int(x)

10

In [20]:
y = 19.8

print(int(x + y))
print(int(x) + int(y))

30
29

In [22]:
# 개인 시험
x = 10.7
int(x)
float(x)  #x는 항상 10.7인거고 변환은 일시적인 것???

10.7

주의할 점 2: str --> int/float

In [21]:
i = '10'
int(i), float(i)

(10, 10.0)

In [24]:
j = '10.7'
int(j)  #10.7은 integer이 아님(float으로 형 변환 먼저해)

ValueError: invalid literal for int() with base 10: '10.7'

In [26]:
#개인 시험
j = '10.7'
float(j)

10.7

In [28]:
#개인 시험
j = '10.7'
float(j)
int(j)   #??????????

ValueError: invalid literal for int() with base 10: '10.7'

In [29]:
#개인 시험
int(float(j))

10

### 꿀팁 'print()'
병렬 출력

In [14]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) #space x \n
print(dog, cat, lion) #space o, \n

dogcatlion
dog cat lion

print(, sep=' ', end='\n') # argument 안에서는 = 앞뒤 띄어쓰기 x

In [16]:
print(dog, cat, lion, sep=' ', end='\n') #default
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [17]:
#1.
print("My favorite animal is", dog)

#2
print(f"My favorite animal is {dog}.")

My favorite animal is dog
My favorite animal is dog.

코드 줄이 짧을 때 ;(semicolon)을 이용하여 한 줄로 쓸 수 있다.

In [1]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog

### input()' 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 분자열로 인식 된다.
- 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 한다.

In [2]:
input("Hello? ")

Hello? Hi

'Hi'

In [4]:
int(input('나이가 어떻게 되나요? '))

나이가 어떻게 되나요? 55

55

- 변수에 할당하는 방법

In [10]:
#1.
age = input('나이가 어떻게 되나요? ')  #한번에 입력 받은 걸 변수에 할당, I like this one best!

나이가 어떻게 되나요? 15

In [11]:
age

'15'

In [12]:
#2.
print("나이가? ")  #설명 따로 할당 따로
age = input()

나이가?
88

In [13]:
age

'88'

### Quiz 1
 - 섭씨를 입력 받아서 화씨로 변환하기
 - "섭씨*1.8 + 32 = 화씨"

In [11]:
# first try
Cell = int(input("섭씨 온도는? ")) #feedback: 대문자 쓰지마 특별한 거 아닌 이상/ int말고 float 써!/ Cell과 Fahr는 가독성이 나쁨
Fahr = Cell * 1.8 + 32
print(f"화씨 온도는 {Fahr}f 이다.")

섭씨 온도는? 44
화씨 온도는 111.2f 이다.

In [13]:
#수정본
cellcius = float(input("섭씨 온도는? "))
fahrenheit = cellcius * 1.8 + 32
print(f"화씨 온도는 {fahrenheit}f 이다.")

섭씨 온도는? 33.5
화씨 온도는 92.30000000000001f 이다.

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
 - "==택배 정보=="
 - 수취인 성명: <이름>
 - 수취인 주소: <주소>
 - 배송비: 3000원
 - 물건 비용: <가격>원
 - 총합계 = 배송비 + 물건 비용
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [9]:
info = input("상품명이 무엇입니까? ")
name = input("성명이 무엇입니까? ")
address = input("주소가 어떻게 됩니까?(상세 주소까지 입력하시오.) ")
weight = float(input("상품 무게는 어떻게 됩니까? (g단위) "))
price = weight * 5
fee = 3000
total = fee + price
print(f"==택배 정보==\n상품명: {info}\n무게: {weight}\n수취인 성명: {name}\n수취인 주소: {address}") #너무 길어서 끊음
print(f"배송비: {fee}원\n물건 비용: {price}원\n총합계 = {fee + price}원")

상품명이 무엇입니까? 운동기구
성명이 무엇입니까? 이유경
주소가 어떻게 됩니까?(상세 주소까지 입력하시오.) 성북구
상품 무게는 어떻게 됩니까? (g단위) 50000
==택배 정보==
상품명: 운동기구
무게: 50000.0
수취인 성명: 이유경
수취인 주소: 성북구
배송비: 3000원
물건 비용: 250000.0원
총합계 = 253000.0원

In [1]:
bool(1)

True

In [2]:
bool("")

False

#### integer
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. 예: 05
 - 예외적으로 0bxxx, => 다른 진수 표현법
- 리터럴: 4
- 공백이 많아도 무시가 된다.
- 10,000원 -> 10,000원이 두 개로 인식 => _사용
  -예: 10_000

In [15]:
a = -9
8 + a

-1

In [16]:
a = 09  #숫자 앞에 0 x

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_13076/2890110653.py, line 1)

In [17]:
-9 + 8                -5 #공백있어도 계산됨

-6

In [18]:
a = 10_000  #10000할때와 같게 나옴
print(a)

10000

## 연산
- 연산자|operator: +,-, 
- 피연산자|operand: 4,5, ....
- 수식|expression

In [20]:
x = 4
y = 9

x + y
x - y
x * y
x / y #실수형 몫
#추가적으로
x // y #은 정수형 몫
x % y #은 나머지 연산자

#거듭제곱|exponential
x ** y

262144

나눗셈 주의할 사항

In [22]:
#1. division by zero => 주의 (y != 0)
#2. 몫, 나머지
x // y, x % y, x / y

(0, 4, 0.4444444444444444)

In [24]:
divmod(x, y)  #divmod(dividend, divisor) the dividend is divided by the divisor 그래서 divmod(a, b) 답으로 (a//b, a%b)

(0, 4)

### 복합 대입연산자|compound assignment operator

In [25]:
a = 5
a - 3
print(a)

5

In [27]:
a = a - 3
#1. a - 3 계산
#2. 임시변수 temp = a -3
#3. a = a- 3

a -= 3

In [28]:
a += 3
a -= 3
a *= 3
a /= 3

In [32]:
u = u + 1

NameError: name 'u' is not defined

In [41]:
#그래서 u의 값을 초기화해야해
u = 4
u = u + 1

### Quiz 3
- 정수를 입력 받고 3의 배수인지 확인하세요.
- =홀수인지 확인하세요.

In [10]:
# if 쓰고. 근데 쓰지 말고 해보는 거
num = int(input("정수를 입력하시오. "))
if num % 3 == 0:
    print(f"{num}은 3의 배수입니다.")
else:
    print(f"{num}은 3의 배수가 아닙니다.")
if num % 2 == 0:
    print(f"{num}은 홀수가 아닙니다.")
else:
    print(f"{num}은 홀수입니다.")

정수 숫자: 473992
473992은 3의 배수가 아닙니다.
473992은 홀수가 아닙니다.

In [11]:
# 모범 답안
num = int(input("정수를 입력하시오. "))
num % 3 == 0

정수를 입력하시오. 5

False

In [12]:
num = int(input("정수를 입력하시오. "))
num % 2 == 0

정수를 입력하시오. 6

True

#### 지수 표현
- e, E 둘다 가능하다
- 앞부분은 float, int
- 뒷부분은 int만 온다.
 - 양수면 0 앞으로
 - 음수명 0 뒤로 (소숫점)

In [13]:
1.0e6 #float

1000000.0

In [42]:
789e-6 #소숫점을 움직이는 거야

0.000789

## 조건문, if
- code structure

### 코드 짜는 법
- 주석 다는 법
 - 설명하는 부분
 - 목적: 의도를 표현한다.
 - '#' hash, sharp,...
 - 시작된 부분부터 그 라인에 끝까지가 주석
 - 문자열 안에 들어있는 해시는 문자열로 인식
 - """<주석>"""
 
- 라인 유지하기
 - 들여쓰기, 공백 4개, 텝 1개
 - 한 줄에 최대 88자 넘지 않게
 - "\" 백슬래시로 끊어 준다.

In [19]:
a = 3 # 여기서부터 라인 끝
b = 2

In [37]:
num = 2 + 4\
- 9 + 8\
+ 789789 - 643096
print(num)  # \를 쓰면 다음 줄까지도 하나로 인식

146698

In [24]:
example = 'hey ###'
print(example)
"""이렇게 하면 주석으로 인식되지만"""
"""
주석1
이렇게 달면 출력이 되네
주석3
"""

hey ###

'\n주석1\n이렇게 달면 출력이 되네\n주석3\n'

In [ ]:
if .....:
        ###if 조건문 형식

- 조건 1개
    if <조건식>:
        <실행할 코드>

In [5]:
if 4 != 9:
    print('Yay!')

Yay!

- 조건 2개
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드 2>

In [25]:
if 4 == 9:
    print('Yay!')
else:
    print('Hey!')

Hey!

In [ ]:
- 조건 1개
    if <조건식>:
        <실행할 코드>
    elif <조건식2>:
    
    else:
        <실행할 코드3>

In [27]:
if 4 > 9:
    print('Yay!')
elif 4 == 9:
    print('Hurray!')
else:
    print('Whoo hoo!')

Whoo hoo!

#### 비교연산자
- x < y, x <= y
- x>y, x >= y
- x == y(값)
- x != y (값)
- x is y (값, 메모리주소)
- x is not y

### Quiz 4
- 학점 부여하기
- 학점을 입력 받아서
 - 90점 이상이면 A
 - 80, B
 - 70, C
 - 그외, D
- 변수 설정 유의

In [16]:
grade = float(input("받은 점수는 "))
print("최종 학점은", end=' ')
if grade >= 90:
    print("A")
elif 90 > grade >= 80:  # 처음이 false이니 "90 >" 빼
    print("B")
elif 80 > grade >= 70:
    print("C")
else:
    print("D")  #print 같은 줄. 최종으로

받은 점수는 89
최종 학점은B

In [30]:
#수정본
score = int(input("받은 점수: "))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
print(f"최종 학점은 {grade}")

받은 점수: 90
최종 학점은 A

### Quiz 5
- 아이디와 비번 입력 받아서 
- 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [13]:
# first try
pw = "iseeyou24"
id = "iknowu"   #id 이미 있는 거
pwtry = input("비밀번호: ")  #pwtry x, idtry x 가독성이 떨어짐
idtry = input("아이디: ")
if pwtry == pw and idtry == id:
    print("로그인 성공")
elif pwtry == pw or idtry == id:
    print("비밀번호 또는 아이디 불일치")
else:
    print("로그인 실패")

비밀번호: iseeyou24
아이디: djsk
비밀번호 또는 아이디 불일치

In [41]:
#수정본 1
password = input("비밀번호: ")
identification = input("아이디: ")
if password == "iamahero" and identification == "iamhere":
    print("로그인 성공")
else:
    print("로그인 실패")

비밀번호: iamahero
아이디: iamhere
로그인 성공

In [43]:
#수정본 2
password = input("비밀번호: ")
identification = input("아이디: ")
if password == "iamahero" and identification == "iamhere":
    print("로그인 성공")
elif password != "iamahero" and identification != "iamhere":
    print("비밀 번호와 아이디가 불일치")
elif password != "iamahero" and identification == "iamhere":
    print("비밀 번호 불일치")
else:
    print("아이디 불일치")

비밀번호: 안녕~~
아이디: iamhere
비밀 번호 불일치

#### 논리연산자
- 여러조건식을 비교할 때
- 예: 10 < x < 20
    - 파이썬에서만 가능한 표현
    - 다른 프로그램 언어: x > 10 혹은 x < 20
- and, &
- or, |  (shift+\)
- not

### Quiz 6
- quiz 4 확정판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [44]:
score = int(input("받은 점수: "))
attendance = int(input("결석 횟수: "))
if attendance >= 2:
    grade = "F"
elif score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
print(f"최종 점수는 {grade}")

받은 점수: 93
결석 횟수: 3
최종 점수는 F