## Dictionary
- 영어 사전
    - 단어: 뜻 = 키: 값
    - 순서가 없다. => 인덱싱 불가능
    - "키(단어)로 값을 찾는다"
        - 키는 중복되지 않는 고유한 값(값은 중복되도 상관 없음)
    - 가변: 수정, 삭제, 추가, 가능
    - 타입: dict
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a: [1, 2, 3, 4]

In [1]:
a = [1, 2, 3]
a[0]

1

In [4]:
# dictionary 만드는 법 1
empty = dict()
empty

{}

In [7]:
# dictionary 만드는 법 2
empty = {}
empty

{}

In [8]:
# set
empty = {} # dict type
empty = set()
type(empty)

set

In [9]:
a = {1, 2, 3} # set
a = {1:'apple', 2:'banana', 3:'kiwi'} # dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [10]:
# :가 귀찮을 때
b = {'', '', ''}
b = dict(apple = 'a', banana = 'b', kiwi = 'c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [ ]:
# 출석부로 딕셔너리 만들기
이름, 학번, 학과
james 202201 경제학과
laura 202203 스페인어과
louis 202202 컴공과

In [11]:
# my answer during class
attendance = {'', '', ''}
attendance = dict(james = '202201 경제학과', laura = '202203 스페인어과', louis = '202202 컴공과')
attendance

{'james': '202201 경제학과', 'laura': '202203 스페인어과', 'louis': '202202 컴공과'}

In [26]:
# my answer during review
# 이거 필요 없음 attendance = {'', '', ''}
#attendance = dict(202201: 'james' '경제학과', 202202: 'louis' '컴공과', 202203: 'laura' '스페인어과')
# list 또는 tuple로 가져야 함.
attendance = {202201 : ('james', '경제학과'), 202202 : ('louis', '컴공과'), 202203 : ('laura', '스페인어과')}
attendance

{202201: ('james', '경제학과'),
 202202: ('louis', '컴공과'),
 202203: ('laura', '스페인어과')}

In [24]:
#f = dict(202201 = ['james', '경제학과'], 202202 = ['louis', '컴공과'], 202203 = ['laura', '스페인어과'])
# 값이 여러 개일 때 dict() 쓰면 에러 뜸

In [27]:
# good answer
# list말고 tuple로 가져도 됨
{202201: ['james', '경제학과'], 202203: ['laura', '스페인어과'], 202202: ['louis', '컴공과']}

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### 형 변환

In [28]:
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [30]:
ex2 = [('hi', 'bye'), ('love', 'romance'), ('baby', 'me')]
dict(ex2)

{'hi': 'bye', 'love': 'romance', 'baby': 'me'}

In [34]:
# 키는 중복이 안 되서 h는 마지막 o만 값으로 갖는 것
ex3 = ['hi', 'he', 'ho']
dict(ex3)

{'h': 'o'}

In [36]:
ex4 = ['ti', 'ce', 'ho']
dict(ex4)

{'t': 'i', 'c': 'e', 'h': 'o'}

### 항목 조회 & 변경

In [38]:
pythons = { # 성: 이름
    'Champman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'MIchael'
} # , 까먹지 마

In [39]:
pythons['Idle']

'Eric'

In [40]:
pythons['Hwa'] = 'Chloe' # 추가

In [41]:
pythons['Idle'] = 'James' # 변경
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'MIchael',
 'Hwa': 'Chloe'}

In [42]:
# 예외 없이
'Hwa' in pythons

True

In [44]:
# get()
pythons.get('Lee', 0) # 없는 키는 None 반환(옆에 0 설정)

0

### 전체 조회
- keys()
- values()
- items()

In [45]:
list(pythons.keys())

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [48]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'MIchael', 'Chloe'])

In [49]:
pythons.items()

dict_items([('Champman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'MIchael'), ('Hwa', 'Chloe')])

In [50]:
for k, v in pythons.items():  # list comprehension
    print(f'{k} = {v}')

Champman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = MIchael
Hwa = Chloe

In [51]:
[(k, v) for k, v in pythons.items()]

[('Champman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'MIchael'),
 ('Hwa', 'Chloe')]

In [52]:
[k[1] for k in pythons.items()] # 0=key, 1=value

['Graham', 'John', 'James', 'Terry', 'MIchael', 'Chloe']

In [53]:
[k for k in pythons] # keys

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

### ex
animal: num_leg 딕셔너리 만드시오

In [61]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [62]:
# my answer during class
# num_leg = dict([(k, v) for k in animal and v in legs])

In [65]:
# my answer during review
num_leg = {}
list(legs)
for i in range(len(animal)):
    num_leg[animal[i]] = legs[i]
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [67]:
# good answer
animal_legs = {}
list(legs)
for x, y in zip(animal, legs):
    animal_legs[x] = y
animal_legs

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### Q. pythons에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플(성, 이름) 리스트로 반환하기
- dict comprehension 쓰지 말기

In [68]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'MIchael',
 'Hwa': 'Chloe'}

In [69]:
# good answer 1
new_pythons = {}
for k in pythons.keys():
    new_pythons[k[0]] = len(pythons[k])
new_pythons

{'C': 4, 'I': 5, 'J': 5, 'P': 7, 'H': 5}

In [72]:
# good answer 2
[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값을 수정, 삭제, 복제, 비교

In [73]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'MIchael',
 'Hwa': 'Chloe'}

In [75]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [76]:
# 추가
pythons.update(others)

In [77]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'MIchael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [78]:
# python 3에서만 가능한 것:
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'MIchael',
 'Hwa': 'Chloe'}

In [79]:
# 삭제
del pythons['Hwa']

In [80]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'MIchael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [81]:
# 없는 값 삭제하려고 하면 error
del pythons['Lee']

KeyError: 'Lee'

In [82]:
pythons.pop('Marx')

'Groucho'

In [84]:
pythons.pop('Lee', 0) # 0을 설정해주면 없을 때 0 너옴

0

In [85]:
# 전체 삭제
# 방법 1
pythons.clear()
# 방법 2
pythons = {}

In [86]:
pythons

{}

### 복제
- 할당
- 얕은 복사
- 깊은 복사

In [87]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [88]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [90]:
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [91]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 비교
- '같다', '다르다'만 된다.

In [92]:
a == b

False

In [93]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    - del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기 i) key, ii) value

In [95]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 혜왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [97]:
# good answer 1
kor_eng = {}
for i in range(len(solar_kor)):
    kor_eng[solar_kor[i]] = solar_eng[i]
# 성만 남기기
for planet in list(kor_eng.keys()):
    if not planet.endswith('성'):
        del kor_eng[planet]
kor_eng

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '혜왕성': 'neptune'}

In [99]:
# good answer 2
dict_EX = dict([[x, y] for x, y in zip(solar_kor, solar_eng)])
dict_EX['명왕성'] = 'pluto'
for i in list(dict_EX.keys()):
    if not i.endswith('성'):
        dict_EX.pop(i)
sorted(dict_EX)

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '혜왕성', '화성']

In [100]:
# professor
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '혜왕성': 'neptune'}

In [103]:
# 성만 남기기
{k: v for k, v in system.items() if k.endswith('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '혜왕성': 'neptune'}

### 컴프리헨션

In [104]:
letter = 'apple'
# a: 1, p: 2...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [105]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [106]:
# good answer
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [108]:
# 모음뿐만 아니라 모든 글자 출력
{w: word.count(w) for w in set(word) if w in word}

{'m': 1, 'e': 1, 'p': 1, 'i': 1, 'o': 4, 'n': 1, 't': 1, 'a': 2}

### sorting

In [109]:
# sorted 쓰면 key만 나옴. 그래서 다 나오려면 items
sorted(system.items())

[('금성', 'venus'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('혜왕성', 'neptune'),
 ('화성', 'mars')]

In [110]:
def fx(x):
    return x[1]

In [112]:
sorted(system.items(), key = fx) # item이 기준으로 정리

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('혜왕성', 'neptune'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- "중복이 없다."
- 집합 => 교집합, 합집합, 차집합,...
- bag, 인덱싱도 없다.

In [114]:
empty = set()
empty

set()

In [115]:
a = {1, 2, 3}
a

{1, 2, 3}

In [116]:
a = set((1, 2, 3)) # 선언, 형 변환
a

{1, 2, 3}

In [117]:
# 추가
a.add(3) # 중복 안 되서 있는 숫자 넣어도 다를 바 없다
a

{1, 2, 3}

In [118]:
a.add(4)
a

{1, 2, 3, 4}

In [119]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [121]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}
# vodka가 포함된 술 출력하기
# vodka는 있지만 cream, vermouth 없는 술 출력하기

In [123]:
# my bad answer during class
# [drink for drink in drinks.keys() if 'vodka' in drinks.values()]

In [124]:
# good answer
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [125]:
# my answer during class (right but not the best)
for k, v in drinks.items():
    if 'vodka' in v:
        if 'cream' not in v and 'vermouth' not in v:
            print(k)

black russian
screwdriver

In [128]:
# better answer
for k, v in drinks.items():
    if 'vodka' in v and not('cream' in v or 'vermouth' in v): # not()할 때 or인거 확인
            print(k)

black russian
screwdriver

In [129]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b, b - a

({1}, {4})

In [130]:
# 윗 문제 set을 활용해서 바꾸기
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [131]:
# set도 컴프리헨션
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [132]:
# frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

### Project
- 팀별로 한 파일
- 100(2), 70, 50, 30
- task를 풀고 수업 30분 랜덤으로 코드 설명 => 못 했다, 성의 없다 => 점수 안 줌
- 제출: 수요일 자정. 수요일에만 제출 (00:00 ~ 11:59)

!pip install pylint

!pylint example.py

!pip install pydocstyle

!pydocstyle example.py