## Ch02. Variable
- string
- float
- integer
- booleen

In [1]:
#여러 이름 동시에 할당
two = deux = dos = 2 #dos -> deux -> two
two

2

In [2]:
# 불변객체이므로
two = 4
print(two, deux) #two에 deux가 할당되었던게 4로 대체되었지만 deux는 여전히 2인 것

4 2

In [3]:
id(two), id(deux)  #할때마다, 컴퓨터마다 변한다.

(2450071841168, 2450071841104)

In [4]:
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [5]:
id(p), id(q)  #id가 동일하게 나옴. 컴퓨터에 같은 위치

(2450151038656, 2450151038656)

In [6]:
p[0] = 9  #p = [1, 2, 3] --> p = [9, 2, 3], p를 q에 할당해서 q도 [9, 2, 3]로 바뀜 
p, q

([9, 2, 3], [9, 2, 3])

In [18]:
id(p), id(q)

(2450151038656, 2450151038656)

In [19]:
# 개인 실험
q[0] = 5
p, q  #  # q = [9, 2, 3] --> q[5, 2, 3] -->    ?????????????????????????????

([5, 2, 3], [5, 2, 3])

#### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함. a, b, c. ...
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
 - 예: the number of students n < the_number_of_students < num_students
 - 카멜표기법: numStudents

### 자료형 변환, 형 변환
- str(<변환할 값>), int(), float(), bool()

In [8]:
a = 10

# str
str(a)  #문자열로 변환

#float
float(a) #실수로 변환

#bool
bool(a) # 어떤 값이 False로 변환이 되는 지

True

주의할 점: float --> int

In [11]:
x = 10.7 #소수점 내림
int(x)

10

In [20]:
y = 19.8

print(int(x + y))
print(int(x) + int(y))

30
29

In [22]:
# 개인 시험
x = 10.7
int(x)
float(x)  #x는 항상 10.7인거고 변환은 일시적인 것???

10.7

주의할 점 2: str --> int/float

In [21]:
i = '10'
int(i), float(i)

(10, 10.0)

In [24]:
j = '10.7'
int(j)  #10.7은 integer이 아님(float으로 형 변환 먼저해)

ValueError: invalid literal for int() with base 10: '10.7'

In [26]:
#개인 시험
j = '10.7'
float(j)

10.7

In [28]:
#개인 시험
j = '10.7'
float(j)
int(j)   #??????????

ValueError: invalid literal for int() with base 10: '10.7'

In [29]:
#개인 시험
int(float(j))

10

### 꿀팁 'print()'
병렬 출력

In [14]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) #space x \n
print(dog, cat, lion) #space o, \n

dogcatlion
dog cat lion

print(, sep=' ', end='\n') # argument 안에서는 = 앞뒤 띄어쓰기 x

In [16]:
print(dog, cat, lion, sep=' ', end='\n') #default
print(dog, cat, lion, sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [17]:
#1.
print("My favorite animal is", dog)

#2
print(f"My favorite animal is {dog}.")

My favorite animal is dog
My favorite animal is dog.

코드 줄이 짧을 때 ;(semicolon)을 이용하여 한 줄로 쓸 수 있다.

In [23]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog